* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
}

.navegador {
    background-color: white;

}

.textoLogo {
    font-size: 2rem;
    color: #fa872a;
    font-weight: bold;
}

.textoLogo:hover {
    font-size: 2rem;
    color: #fa872a;
    font-weight: bold;
}

.btnHomeBanking,
.btnOfficeBanking {
    background-color: #fa872a;
    color: aliceblue;
    border-radius: 20px;
    font-weight: bold;
}

#logoTitulo {
    top: 0px;
    width: 100px;
}

.btnHomeBanking:hover,
.btnOfficeBanking:hover {
    background-color: rgb(250, 233, 202);
    border: 0.5px solid #fa872a;
    color: #fa872a;
    border-radius: 20px;

}

/**dropdowns **/


/** carrousel */
.containercarousel{
    width: 80vw;
}
.carouselImg {
    border-radius: 40px;
}

/** botones servicios bajo el carousel */
.btnServiciosPersonas {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 110px;
    color: #0e7bc4;

}

.cajitasPersonas .svg {
    transform: scale(.3);

    fill: #0e7bc4;
}

.btnServiciosPersonas:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/** en el main */
.bi{
    font-size: 24px;
  }

/**prefooter ayuda */
.ayuda0 {
    margin: 30px 0px;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
}

.ayuda {
    margin: 30px 0px;
    padding: 30px;
    background-color: rgb(245, 238, 234);
}

/** foter alternativo para movile */


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #midasnaranja {
        display: none;
    }

    #logoTitulo {
        width: 50px;
        position: absolute;
        left: 45%;
    }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 300px) {
    .botonesNaranja {
        display: flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
    }

    #btnHomeBanking {
        width: 90vw;
        align-self: center;
    }

}